<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="static\styles\style.css">
</head>
<body>
    <main>
        <h1 style="text-align: center;">Bem-vindo à Biblioteca!</h1>
        <p style="text-align: center;">Encontre os livros que você procura e faça seu empréstimo.</p>
    </main>
    <div class="navbar">
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>